<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" th:src="@{/js/app.js}"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/app.css}"/>
    <title>Добавление новости</title>
</head>
<body>
    <form name="feedAdd" id="feedAdd" th:method="post">
        Сообщение<br>
        <input name="message"/><br>
        <hr/>
        <input type="button" value="Добавить" onclick="addNewsMethod()"/>
        <input type="hidden" id="csrf-id" name="${_csrf.parameterName}" value="${_csrf.token}"/>
    </form>
</body>
</html>